{% include 'sitio/cabecera.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-contraseña.css') }}">
    <link rel="stylesshet" href="https://use.fontawsome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/fa849703be.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container recuperar-contraseña-container">
            <form action="#">
                <h1>Nueva contraseña</h1>
                
                <span>Solicitaremos esta contraseña cada vez que inicies sesión </span>
                
                <label class="password" for="password">Nueva constraseña </label>
                <input type="password" placeholder=" " name="password">
                <label class="password" for="password">Repite tu nueva contraseña </label>
                <input type="password" placeholder=""name="password">
                
                <button>actualizar</button>
            </form>
        </div>

       
</body>
</html>