<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-recuperar_exito.css') }}">
    <link rel="stylesshet" href="https://use.fontawsome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/fa849703be.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container recuperar-contraseña-exito-container">
            <form action="#">
                <h1>Revisa tu correo</h1>
                <span>Te hemos enviado un correo con las instrucciones para cambiar tu contraseña.</span>
                <img class="correo" src="images/correo.png">
                <p>*Si no logras encontrarlo, revisa tu bandeja de spam </p>      
            </form>
        </div>

       
</body>
</html>