<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <div class="logo">  
            <a href="/" id="img-logo"></a>
            <a href="/">Business name</a>
        </div>
        <i class="fas fa-solid fa-bars" id="barrasMenu"></i>
        <div class="menu">
            <a href="">About us</a>
            <a href="index_muestra_de_productos">Productos</a>
            <a href="">Contact</a>
            <a href="carrito"><i class="fas fa-shopping-bag"></i></a>
            <a href="" id="login">Log in</a>
            <a href="/login/inicio"><i class="fas fa-solid fa-user" id="perfil"></i></a>
            <script>
                const loginLink = document.getElementById("login");
                const userIcon = document.getElementById("perfil");
                const loggedIn = true; //aquí ya lo conectamos con el log in
                if (loggedIn) {
                    userIcon.style.display = "inline-block";
                    loginLink.style.display = "none";
                } else {
                    userIcon.style.display = "none";
                    loginLink.style.display = "inline-block";
                }
            </script>
        </div>
    </header>
    <div class="menuMobile">
        <a href="" id="loginMobile">Log in</a><br>
        <a href=""><i class="fas fa-solid fa-user" id="perfilMobile"></i></a><br>
        <script>
            const loggedInMobile = true; //falta conectar con log in igual
            const loginLinkMobile = document.getElementById("loginMobile");
            const userIconMobile = document.getElementById("perfilMobile");

            if (loggedInMobile) {
                loginLinkMobile.style.display = "none";
                userIconMobile.style.display = "inline-block";
            } else {
                loginLinkMobile.style.display = "inline-block";
                userIconMobile.style.display = "none";
            }
        </script>
        <a href="#">About us</a><br><hr>
        <a href="#">Services</a><br><hr>
        <a href="#">Contact</a><br><hr>
        <a href="#"><i class="fas fa-shopping-bag"></i><p>Tus compras</p></a><br>
        <script>
            const menuMobile = document.querySelector('.menuMobile');
            const barrasMenu = document.querySelector('#barrasMenu');

            barrasMenu.addEventListener('click', () => {
            menuMobile.classList.toggle('show');
            });;
        </script>
    </div>
    