<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-recuperar.css') }}">
    <link rel="stylesshet" href="https://use.fontawsome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/fa849703be.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container recuperar-contraseña-container">
            <form action="#">
                <h1>Recuperar contraseña</h1>
                <span>Escribe la dirección de correo electrónico asociado a tu cuenta. </span>
                <input type="email" placeholder="Correo electrónico">
                
                <button>Recuperar</button>
            </form>
        </div>

       
</body>
</html>