{% include 'sitio/vista_usuario/cabecera.html'%}  
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_muestra_de_productos.css') }}">

    <title>TIENDA DE ROPA</title>
</head>
    <main class="centromain">
    <section class="contenido">
        <div class="mostrador" id="mostrador">
            <div class="fila">
                {%for recepcion in recepcion%}
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img width = "60" src="/img/{{ recepcion[5] }}" class="img-fluid rounded-top" alt="">
                    </div>
                    <p class="descripcion">{{recepcion[1]}}</p>
                    <span class="precio">$ {{recepcion[4]}}</span>
                    <form action="/carrito/guardar" method="post" enctype="multipart/form-data">
                        <input  type ="hidden" value ="{{ recepcion[0] }}" type="text" name="txtID" id="txtID">
                        <button style="background-color: rgb(248, 81, 81); color: white; border: none; border-radius: 20px; padding: 10px 20px; cursor: pointer;" type="submit" class="btn btn-danger">Agregar al carrito</button>
                 
                    </form>
                </div>
                
                {%endfor%}
            </div>
        </div>
        <!-- ITEM SELECCIONADO -->
        <div class="seleccion" id="seleccion">
            <div class="cerrar" onclick="cerrar()">
                &#x2715
            </div>
            <div class="info">
                <img src="img/1.png" alt="" id="img">
                <h2 id="modelo">NIKE MODEL 1</h2>
                <p id="descripcion">Material: Algodon</p>

                <span class="precio" id="precio">$ 130</span>

                <div class="fila">
                    <div class="size">
                        <label for="">SIZE</label>
                        <select name="" id="">
                            <option value="">16</option>
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                            <option value="">XL</option>
                        </select>
                    </div>
                    <button type="submit">AGREGAR AL CARRITO</button>
                </div>
            </div>
        </div>
    </section>
</main>

    <script src="../../static/js/index_muestra_de_productos.js"></script>
{%include 'sitio/pie.html'%}