 {% include 'sitio/vista_usuario/cabecera.html'%}  
 <!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <title>Inicio</title>
</head>
   <section class="Inicio">
        <div id="txtInicio">
            <h1>Frase motivadora</h1>
            <h1>de compra</h1><br>
            <p>Breve descripcion Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. Dicta culpa nobis,  
                eligendi nostrum exercitationem alias quo. Ad, sit?
            </p>
            <div id="btnConoce">
                <a href=" "><p>Conoce más</p><i class="fas fa-solid fa-arrow-right" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </section>
{% include 'sitio/pie.html'%}