            *{
                    margin: 0%;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            }
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
            a{
                display: inline-block;
                text-decoration: none;
                color: aliceblue;
                font-size: 22px;
                font-weight: lighter;
                }
                header{
                    padding-right: 2%;
                    padding-left: 2%;
                    padding-top: 1%;
                    padding-bottom: 0.5%;
                    display: grid;
                    grid-template-columns: repeat(5,20%);
                    grid-template-areas: "uno uno tres cuatro cuatro";
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 96%;
                    height: 6%;
                }
                .logo{
                    display: flex;
                    grid-area: uno;
                }
                .logo a{
                    margin-left: 2%;
                    /*display: flex;*/
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
                #img-logo{
                    background-image: url(../images/logo.png);
                    background-size: cover;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                                }
                #barrasMenu{
                    display: none;
                }
                .menuMobile {
                    display: none;
                    position: absolute;
                    padding: 20px;
                    width: 35%;
                    background-color: rgba(0, 0, 0, 0.5);
                    right: 0;
                }
                .menuMobile {
                    text-align: center;
                }
                .menuMobile p{
                    color: aliceblue;
                    font-size: 22px;
                    padding-left: 10px;
                }
                .menuMobile p, i{
                    display: inline-block;
                }
                .menu{
                    text-align: end;
                    grid-area: cuatro;
                }
                .menu a{
                    margin-left: 2%;
                }
                .menu i{
                    color:aliceblue;
                }
                .menu a:hover{
                    color: blueviolet;
                }
                .menu i:hover{
                    color: blueviolet;
                }
                #login{
                    padding: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border: 2px solid beige;
                    border-radius: 10px;
                }
                .Inicio{
                    display: flex;
                    margin-top: 15%;
                    height: 100%;
                    margin-right: 50%;
                }
                #txtInicio{
                    text-align: left;
                    width: 70%;
                    margin-left: 5%;
                }
h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}
p{
    color: rgba(255, 255, 255, 0.486);
    font-size: 20px;
}
#btnConoce {
    margin-top: 20px;
    border: 2px solid aliceblue;
    border-radius: 20px;
    padding: 10px;
    display: inline-flex;
    margin-bottom: 45%;
}
#btnConoce a {
    display: flex;
    align-items: center;
}
#btnConoce p {
    color: aliceblue;
    margin-right: 5px;
}
#btnConoce i{
    color: aliceblue;
}
#btnConoce:hover {
    background-color: blueviolet;
}
footer{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding-bottom: 1%;
}
footer i{
    padding: 20px;
    font-size: 30px;
    color: aliceblue;
}
@media screen and (max-width: 820px) and (min-width: 576px){
    body{
        background-position: right center;
    }
    a{
        font-size: 15px;
    }
    #img-logo{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 575px) {
    body{
        background-position: right center;
    }
    .logo a{
        display: none;
    }
    .menu{
        display: none;
    }
    #img-logo{
        margin-bottom: 2%;
    }
    #barrasMenu{
        font-size: 20px;
        display: flex;
        align-items: center;
        color: aliceblue;
        justify-content: end;
        grid-area: cuatro;
    }
    #barrasMenu:hover{
        color: blueviolet;
    }
    .menuMobile.show {
        display: block;
    }
    .menuMobile a{
        padding: 10px;
    }
}