@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/**/
}
body{
    background-color: rgb(221, 221, 221);/*Fondo Iniciar sesión*/
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;/**/
    margin: 0 auto;
}
.container{ /* Caja contenedora */
    background-color: #fff;
    border-radius: 10px;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 14px 28px rgb(0, 0, 0, .25),
                0px 14px 10px rgb(0, 0, 0, .22);
}
.form-container{ /*Division de contenido 1 */
    position: absolute;
    top: 0%;
    height: 100%;
    /**/
    transition: all 0.6 ease-in-out;
}
.crear-cuenta-container{ /*Division de contenido 2 */
    left: 0;
    width: 50%;
    /**/
    z-index: 1;
    opacity: 0;
}
 form{
    background-color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
span{
    font-size: 12px;
}
input{
    background-color: #eee;
    border: none;
    text-decoration: none;
    width: 100%;
    margin: 8px 0;
    padding: 12px 15px;
}
button{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /**/
    transition: .8s ease-in;
}
.iniciar-sesion-container{
    left: 0;
    width: 50%;
    /**/
    z-index:2;
}

.other-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;  /**/
    z-index: 100;
    /**/
    transition: 0.6s ease-in-out;

}
.other{
    background-color: #FF416C;
    background: linear-gradient(to right,#FF4B2B,#FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    /**/
    transition: .6s ease-in-out;
    
}
.other-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    top:0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    /**/
    transition: .6s ease-in-out;
}
.other-left{
    transform: translateX(-20%);

}
.other-right{
    right:0;
    transform: translateX(0);
}
button:active{/* Escalar mientras este activo*/
    transform: scale(.95);

}
button.press{/* Escalar mientras este presionado*/
    background-color: transparent;
    border-color: #FFFFFF;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}
.container.right-panel-active .iniciar-sesion-container{
    transform: translateX(100%);

}

.container.right-panel-active .crear-cuenta-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: slide 0.6s;

}
@keyframes slide {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }

    
}
.container.right-panel-active .other-container{
    transform: translateX(-100%);
}
.container.right-panel-active .other{
    transform: translateX(50%);
}
.container.right-panel-active .other-left{
    transform: translateX(0);
}
.container.right-panel-active .other-right{
    transform: translateX(20%);
}
