
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/**/
}
body{
    background-color: rgb(221, 221, 221);/*Fondo Iniciar sesión*/
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;/**/
    margin: 0 auto;
}
.container{ /* Caja contenedora */
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 14px 28px rgb(0, 0, 0, .25),
                0px 14px 10px rgb(0, 0, 0, .22);
}
.form-container{ /*Division de contenido 1 */
    position: absolute;
    top: 0%;
    height: 100%;
    
}
.recuperar-contraseña-exito-container{ /*Division de contenido 2 */
    left: 0;
    width: 100%;
    
    
}
 form{
    background-color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.correo{
    width: 100px;
    height: 100px;
    
    justify-content: center;
    align-items: center;
    
}



h1{
    font-weight: bold;
    
    margin: 0;

}

span{
    font-size: 14px;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
p{
    font-size:12px;
    font-style: italic;
    color: rgb(110, 110, 110);
    margin: 20px 0;
}
